In [1]:
import lib

In [2]:
lib.build_price_df(10, 1.25, 0.8, 5)

      0     1       2         3          4          5
0  10.0  12.5  15.625  19.53125  24.414062  30.517578
1   0.0   8.0  10.000  12.50000  15.625000  19.531250
2   0.0   0.0   6.400   8.00000  10.000000  12.500000
3   0.0   0.0   0.000   5.12000   6.400000   8.000000
4   0.0   0.0   0.000   0.00000   4.096000   5.120000
5   0.0   0.0   0.000   0.00000   0.000000   3.276800

In [3]:
lib.build_prob_df(10, 0.5, 0.5)

,0,1,2,3,4,5,6,7,8,9,10
0,1.0,0.5,0.25,0.125,0.0625,0.03125,0.015625,0.007812,0.003906,0.001953,0.000977
1,0.0,0.5,0.50,0.375,0.2500,0.15625,0.093750,0.054688,0.031250,0.017578,0.009766
2,0.0,0.0,0.25,0.375,0.3750,0.31250,0.234375,0.164062,0.109375,0.070312,0.043945
3,0.0,0.0,0.00,0.125,0.2500,0.31250,0.312500,0.273438,0.218750,0.164062,0.117188
4,0.0,0.0,0.00,0.000,0.0625,0.15625,0.234375,0.273438,0.273438,0.246094,0.205078
5,0.0,0.0,0.00,0.000,0.0000,0.03125,0.093750,0.164062,0.218750,0.246094,0.246094
6,0.0,0.0,0.00,0.000,0.0000,0.00000,0.015625,0.054688,0.109375,0.164062,0.205078
7,0.0,0.0,0.00,0.000,0.0000,0.00000,0.000000,0.007812,0.031250,0.070312,0.117188
8,0.0,0.0,0.00,0.000,0.0000,0.00000,0.000000,0.000000,0.003906,0.017578,0.043945
9,0.0,0.0,0.00,0.000,0.0000,0.00000,0.000000,0.000000,0.000000,0.001953,0.009766
10,0.0,0.0,0.00,0.000,0.0000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000977

In [4]:
lib.calc_period_length(1, 100)

0.01

In [5]:
lib.calc_multipliers(0.2, 0.01)

(1.0202013400267558, 0.9801986733067553)

In [6]:
lib.calc_prob(1.02, 0.98, 0, 0.01)

(0.5, 0.5)

In [7]:
lib.calc_eu_call_price(init_price=100, time_years=0.5, num_iterations=5, sigma=0.2, rf=0.01, strike_price=90)

12.210727643933645

In [8]:
lib.calc_eu_put_price(init_price=100, time_years=0.5, num_iterations=5, sigma=0.2, rf=0.01, strike_price=90)

1.7618507712750293

In [9]:
import unittest
from test import support

class DataframeSanityTests(unittest.TestCase):
    
    def test_prob_sum_is_one(self):
        sum_prob_df = lib.build_prob_df(10, 0.5, 0.5).sum()
        
        for i in sum_prob_df:
            assert i == 1.0

In [10]:
if __name__ == '__main__':
    unittest.main(argv=['first-arg-is-ignored'], exit=False)

.
----------------------------------------------------------------------
Ran 1 test in 0.010s

OK

In [11]:
# NEXT STEPS:
# Add more unit tests for all existing functions
# Extract common code from calc_eu_call_price and calc_eu_put_price into a separate function